{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="icon" href="{% static 'assets/Get Cam.png' %}">
    <meta name="description" content="Start Your Journey with Us for being One of the best content Creators">
    <meta name="keywords" content="signup, getcam, join, rental,">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getcsrf(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const  csrftoken = getcsrf('csrftoken');
    </script>

    {% block style %}{% endblock style %}
</head>


<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button"
                data-toggle="collapse" data-target="#navbar6">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar6">
                <ul class="navbar-nav">
                    <li class="nav-item d-flex align-items-center"><a class="nav-link" href="#"><i
                                class="fa fa-fw fa-camera fa-lg"></i></a></li>
                </ul> <a class="navbar-brand text-primary d-none d-md-block" href="#">
                    <i class="fa d-inline fa-lg fa-cameralg"></i>
                    <a href="{% url 'home' %}">

                        <b><b class="text-danger"> GetCam</b></b>
                    </a>
                </a>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"> <a class="nav-link text-decoration-none"
                            href=" {% url 'home' %}"><b><b>Home</b></b></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'products' %}"><b><b>Gear</b></b></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#"><b><b>Eduspot</b></b></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}"><b><b>About</b></b></a> </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    {% if cartitems %}
                      
                    <li class="nav-item d-flex align-items-center"><span class="badge badge-secondary badge-pill">{{cartitems}}</span><a class="nav-link" href="{% url 'cart' %}"><i
                                class="fa fa-fw fa-shopping-cart fa-lg"></i></a></li>
                                {% else %}
                                <li class="nav-item d-flex align-items-center"><a class="nav-link" href="{% url 'cart' %}"><i
                                    class="fa fa-fw fa-shopping-cart fa-lg"></i></a></li>

                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username}}
                            <i class="fa fa-fw fa-user fa-lg"></i>&nbsp;

                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item"
                                href="{% url 'profile' %}">Profile</a>


                            {% if chay %}
                            <a class="dropdown-item" href="{% url 'logout' %}">view marchant account </a>

                            {% else %}


                            <a class="dropdown-item" href="{% url 'logout' %}">switch to merchant account </a>

                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">


                    <li class="nav-item d-flex align-items-center"><a class="nav-link" href="{% url 'login' %}">
                            login
                        </a>
                    </li>

                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% for message in messages %}

    <div class="alert alert-{{message.tags}} " role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading"><b>{{ message}}</b></h4>
        <p class="mb-0">{{ message}}
    </div>


    {% endfor %}

    {% block body %}{% endblock body %}

    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6 p-3">
                    <h5 class=""> <b>Main</b> </h5>
                    <ul class="list-unstyled">
                        <li> <a href="{% url 'home' %}">Home</a> </li>
                        <li> <a href="{% url 'products' %}">Gear</a> </li>
                        <li> <a href="{% url 'about' %}">About</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 p-3">
                    <h5> <b>Others</b> </h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">Privacy Policy</a> </li>
                        <li> <a href="#" contenteditable="true">Terms and Conditions</a> </li>
                        <li> <a href="#">FAQ</a> </li>
                        <li> <a href="#">Resources</a> </li>
                        <li> <a href="#">Career</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="">Be the First in the World</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Mail ID">
                                    <div class="input-group-append"><button class="btn btn-danger"
                                            type="button">Subscribe</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <h5> <b>Follow us</b> </h5>
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-between my-2"> <a href="#">
                                <i class="d-block fa fa-facebook-official fa-lg mr-2"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-instagram fa-lg mx-2"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-google-plus-official fa-lg mx-2"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-pinterest-p fa-lg mx-2"></i>
                            </a> <a href="#">
                                <i class="d-block fa fa-reddit fa-lg mx-2"></i>
                            </a> <a href="#">
                            </a> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0 mt-2" contenteditable="true">© 2020 GetCam, All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!-- 
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider();
        });
    </script> -->

        {% block scripts %}{% endblock scripts %}
    



</body>

</html>