{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock title %}

{% block body %}

<div style="height: 100vh;">
{% if validlink %}
<div class="py-5 text-center text-white h-100 d-flex align-items-center" style="">
  <div class="container">



      <div class="row">
          <div class="col-md-5"><img class="img-fluid d-block mx-auto"
                  src="https://st2.depositphotos.com/1001599/8225/v/600/depositphotos_82258324-stock-illustration-photographer-standing-preparing-his-camera.jpg"
                  width="395"></div>
          <div class="shadow-lg col-md-7 w-75 border-0 rounded-lg">
              <div class="row rounded">
                  <div class="col-md-12 pt-2 mt-2">
                      <p class="mb-5"><b class="text-dark display-4">Reset Your password</b></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">



                      <form id="c_form-h"  method="post">
                          {% csrf_token %}
                          <div class="form-group row"> <label for="inputmailh"
                                  class="col-2 col-form-label text-dark text-left"> New Password</label>
                              <div class="col-10">
                                  {{ form.new_password1 }}


                              </div>
                          </div>
                          <div class="form-group row"> <label for="inputpasswordh"
                                  class="col-2 col-form-label text-dark">Renter your password</label>
                              <div class="col-10">
                                  {{ form.new_password2 }}
                                  <!--  <input type="password" class="form-control" id="inputpasswordh" placeholder="Password">  -->
                              </div>
                          </div>
                         
                          <button type="submit"
                              class="btn rounded-lg border shadow-sm text-center btn-secondary w-25"><b>Submit</b></button>
                      </form>

                  </div>


              </div>
             
                 
              
          </div>
      </div>
  </div>
</div>




{% else %}



<div class="card-body text-center my-4 py-4">
  <h1 class="my-4 py-4">
    The Password Reset Link Was Invalid
  </h1>
  <a href="{% url 'password_reset'%}">

    <p class="text-primary">Tryagain</p>
  </a>
</div>

{% endif %}



</div>
{% endblock body %}