{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load static %}

{% block title %}Reset your password{% endblock title %}

{% block body %}

<div class="py-5 text-center text-white h-100 d-flex align-items-center" style="">
  <div class="container">




    <div class="row">
      <div class="col-md-5"><img class="img-fluid d-block mx-auto"
          src="https://st2.depositphotos.com/1001599/8225/v/600/depositphotos_82258324-stock-illustration-photographer-standing-preparing-his-camera.jpg"
          width="395"></div>
      <div class="shadow-lg col-md-7 w-75 border-0 rounded-lg">

        <div class="row">
          <div class="col-md-12">
            
            <div class="col-md-12 pt-2 mt-2">
                <h2 class="mb-5"><b class="text-dark">Enter your email address</b></h2>
            </div>
            <!-- <p class="col-2 col-form-label text-dark">re enter your password</p> -->
            <!-- <p>re enter your password</p> -->
            <form id="c_form-h" method="post">
              {{ form }}
              {% csrf_token %}
              <!-- <p><input type="submit" value="Send E-Mail"></p> -->
              <!-- <button type="submit" class="btn btn-primary btn-block">
                          submit
                      </button> -->
              <button type="submit"
                class="btn rounded-lg border shadow-sm text-center btn-secondary w-25"><b>Submit</b></button>
            </form>

          </div>


        </div>



      </div>
    </div>
  </div>
</div>



<div style="height: 100vh;">


  <div class="my-login-page">

    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper" style="padding-top: 150px;">

          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Reset your password</h4>


              <div class="form-group">
                <form method="post">
                  {{ form|crispy }}
                  {% csrf_token %}
                  <!-- <p><input type="submit" value="Send E-Mail"></p> -->
                  <button type="submit" class="btn btn-primary btn-block">
                    submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}