{% extends "mc/index.html" %}
{% block tittle %}
Add Product
{% endblock tittle %}
{% block body %}


<div class="container-fluid">
    <h3 class="text-dark mb-4">{{products.product_name}}</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <form method="post" action = "{% url 'product_add' %}"enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    
                    <input class="file-upload-input" type='file' name = "product_images"  />

                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Add Photo</button></div>
                </div>

            </div>

            <div class="card shadow mb-4">

            </div>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Product detailes</p>

                        </div>
                        <div class="card-body">
                            <!-- <form method="post" action = "{% url 'product_add' %}" > -->
                                

                                <div class="form-row">
                                    <label for="username"><strong>Product name:  </strong></label>
                                    <input type="text" name= "product_name">
                                    
                                </div>
                                <div class="form-row">
                                    <label for="username"><strong>Prize :</strong></label>
                                    <input type="text" name= "Prize">
                                    
                                    
                                </div>
                                <div class="form-row">
                                    <label for="username"><strong>catagiory:</strong></label>
                                    <input type="text" name= "catagiory">
                                    
                                    
                                </div>
                                <div class="form-row">
                                    <label for="username"><strong>subcatagiory:</strong></label>
                                    <input type="text" name= "subcatagiory">
                                    
                                    
                                </div>
                                <div class="form-row">
                                    <label for="username"><strong>description:</strong></label>
                                    <input type="text" name= "description">
                                    
                                    
                                </div>
                                <div class="form-row">
                                    <label for="username"><strong>Dates:</strong></label>
                                    <input type="text" name= "pub_date"> - 
                                    <input type="text" name= "expire_date">
                                    

                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-block">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




{% endblock body %}
{% block js %}
<link href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script>

    var disableddates = "03-4-2020";
    function DisableSpecificDates(date) {
        var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
        return [!(disableddates.indexOf(string) == -1)];
    }


    $(function () {
        $("#date").datepicker({
            beforeShowDay: DisableSpecificDates
        });
    });
    $(function () {
        $("#date2").datepicker({
            beforeShowDay: DisableSpecificDates
        });
    });

</script>
{% endblock js %}